<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundFy</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="../JS/script.js">
</head>

<body>
    <div class="container">
        <div class="container-hero">
            <div class="marca">
                <span>SoundFy</span>
            </div>
            <h1>Transforme dados musicais em <span>decisões mais estratégicas</span></h1>
            <p>Analise tendências, gêneros e comportamentos por região para identificar oportunidades no mercado musical
                e tomar decisões baseadas em dados.</p>
            <a href="cadastro.html" class="botao-cta">Começar agora</a>
        </div>
        <div class="container-card">
            
        </div>
    </div>
</body>

</html>